@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IM+Fell+English+SC&family=Italianno&family=Lobster&family=PT+Sans&family=Qahiri&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Architects+Daughter&family=Permanent+Marker&family=Roboto+Mono:ital@1&display=swap');

.bebas {
    font-family: 'Bebas Neue', cursive;
}

.im {
    font-family: 'Abril Fatface', cursive;
}

.it {
    font-family: 'Roboto Mono', monospace;
}

.lobster {
    font-family: 'Lobster', cursive;
}

.pt {
    font-family: 'PT Sans', sans-serif;
}

.qahiri {
    font-family: 'Architects Daughter', cursive;
}

.roboto {
    font-family: 'Abril Fatface', cursive;
}

.completed {
    text-decoration: line-through;

}

.notcompleted {
    text-decoration: none;
}

.taskcard {
    background-color: red;
}


.container {

    background: linear-gradient(to bottom left, #65dfc9, #6cdbeb);
    display: flex;
    width: 100%;
    margin: 0 auto;


}


.transparent {
    background: white;
    width: 75%;
    min-height: 75vh;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em;
    border-radius: 30px;
    margin: 2em;
    backdrop-filter: blur(20px);

}

.circle {
    position: absolute;
    width: 15em;
    height: 15em;
    border-radius: 50%;
    background: white;
    background-color: red;
    top: -4em;
    left: -4em;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.9));


}

.circle2 {
    position: absolute;
    width: 15em;
    height: 15em;
    border-radius: 50%;
    background: white;
    background-color: red;
    bottom: -4em;
    right: -4em;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
}

.card {
    min-width: 150px;
    align-self: auto;
    flex: 1 1 calc(33.33% -5px);
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .25);
    transition: all .3s ease-in-out;
    position: relative;
    
}



.card:hover {
    box-shadow: 0px 5px 100px rgba(0, 0, 0, .25);
    transform: scale(1.05);
    transition: tansfrom 1s;
    transition: all .3s;
}

.card div {
    padding: 1em;

}

.card div p {
    color: white;
    font-size: 1.5rem;
}

.delete {
    all: unset;
    position: absolute;
    right: -5px;
    top: -5px;
    width: 2em;
    height: 2em;
    background-color: white;
    border-radius: 50%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.delete:hover{
    transform: scale(1.1);
    transition: all .3s;
}

.cross {
    display: block;
    position: relative;
    width: 1.2em;
    height: 2px;
    background-color: transparent;
    pointer-events: none;



}

.cross:hover {
    transform: rotate(360deg);
}

.cross::after {
    content: '';
    position: absolute;
    width: 1.2em;
    height: 2px;
    background-color: black;
    transform: rotate(45deg);

}

.cross:before {
    content: '';
    position: absolute;
    width: 1.2em;
    height: 2px;
    background-color: black;
    transform: rotate(-45deg);
}


@media only screen and (max-width: 600px) {
    .transparent {
      width: 100%;
    }
   
  }